*{
    margin:0;
    padding:0;
}

body{
    background-color:rgb(224, 213, 213);
    background-position: center;
    margin-top:-9px;
    height:100vh;
    width:100%;

}

.navbar{
    margin-top:10px;
    display: flex;
    height:12%;
    width: 100%;
    padding-left: 5%;
    box-sizing: border-box;
    padding-right: 5%;

}

.navbar h2{
    color:black;
    margin:auto 2px;
}

nav{
    flex:1;
    text-align: right;
    margin:auto 3px;

}

li{
    display: inline-block;
    padding:2px 35px;
    border-radius: 21px;
}

a{
    font-size: 20px;
    text-decoration: none;
    color:black;
}

li:hover{
    background-color: rgb(255, 255, 255);
}

.sec{
    display: flex;
} 


#home{
    width:50%;
    margin-left:100px;
    margin-top:150px;
}

#home h1{
    font-weight: bold;
    font-size: 2.4rem;
    padding-bottom: 10px;
    color:rgb(10, 10, 96);
}

#home h2{
    font-weight:lighter;
}

#home p{
    font-size:1.4rem;
}

.img{
    width:150px;
    height: 150px;
    position: relative;
    top:51px;
    left: 150px;
    
}

.pic{
    display: inline-block;
    width:250px;
    height:250px;
}

#abt{
    margin-top:400px;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:50vh;
    /* border:2px solid red; */
}

#abt h1{
    text-align: center;
    font-size:2.4rem;
}

.row{
    height:40%;
    width:95%;
    margin-top:16px;
    margin-left:auto;
    margin-right: auto;
    display: flex;
}

.col img{
    height:300px;
    width:500px;
    margin-right:10px;
}


.col section p{
    margin-top:20px;
    font-size:1.9rem;
}

#skills{
    margin-top:100px;
}

#skills h2{
    text-align: center;
    font-size: 2rem;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:15px;
}

.icons img{
    height:200px;
    width:200px;
    padding:40px;
}

#contact{
    margin-top:100px;
}

#contact h2{
    text-align: center;
    font-size: 2rem;
}


.contact_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact_icons img{
    margin:8px 40px;
}



.contact_icons a img{
    height:100px;
    width:100px;
}
